{% extends 'athletelog/include/settings_base.html' %}
{% load log_tags %}
{% block settings_content %}
{% settings_submenu "friends" %}
<h3 class="textversion">Kamarádi</h3>
<h4>Požadovat autorizaci</h4>
<form action="{% url athletelog.views.settings.friends_add_submit athlete_id=athlete.person.user.username %}" method="post">
    <fieldset>
        <legend>Zpráva</legend>
        <textarea name="message"></textarea>
    </fieldset>
    <fieldset class="button_set">
        <legend class="textversion">Uložit</legend>
        <input type="submit" name="submit_ok" class="ok button" value="Odeslat">
        <input type="submit" name="submit_cancel" class="cancel button" value="Zrušit">
    </fieldset>
</form>
{% endblock %}
