{% extends 'log/workout_base.html' %}
{% block customHeader %}
    <script type="text/javascript"> 
        $(document).ready(function () {
            $('#viewSelectionSubmit').click(hollo.competition.change_view);
            $('#viewType').change(function() { hollo.competition.select_view(this.value); });
        });
    </script>
{% endblock %}
{% load log_tags %}

{% block mainMenu %}
    <li><a href="/log/workout/month/{{ first_day|date:"Y" }}/{{ first_day|date:"m" }}/">Deník</a></li>
    <li class="active"><a>Závody</a></li>
{% endblock %}

{% block content %}
<div id="viewSelection">
<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>
<form action="/log/competition/change_view/" method="post">
<fieldset>
<legend class="textversion">Zobrazení závodů</legend>
<label for="viewType">Pohled</label>
<select id="viewType" name="viewType">
    <option {% ifequal viewType "monthly" %}selected="selected" {% endifequal %}value="monthly">Měsíční</option>
    <option {% ifequal viewType "yearly" %}selected="selected" {% endifequal %}value="yearly">Roční</option>
</select>
<label for="month">Měsíc</label>
<select id="month" name="month">
    {% select_month first_day.month %}
</select>
<label for="year">Rok</label>
<select id="year" name="year">
    {% select_year 2000 2010 first_day.year %}
</select>
<button type="submit" id="viewSelectionSubmit">Zobrazit</button>
</fieldset>
</form>
</div>

<div id="competitionSummary"><div>
{% block competitionSummary %}
{% endblock %}
</div>
</div>

<div id="competitionView">
{% block competitionView %}
{% endblock %}
</div>

{% endblock %}
