{% extends 'log/base.html' %}
{% block javascripts %}
    <script type="text/javascript" src="/site_media/log/js/workout.js"></script>
    {% block customHeader %}
    {% endblock %}
{% endblock %}

{% block pageBody %}
<div id="header">
<h1>Deník atleta<span></span></h1>

<h2 class="textversion">Hlavní menu</h2>
<ul id="mainMenu">
{% block mainMenu %}
    <li class="active"><a>Deník</a><span class="tl"></span><span class="tr"></span></li>
    <li><a href="/log/competition/month/{{ first_day|date:"Y" }}/{{ first_day|date:"m" }}/">Závody</a><span class="tl"></span><span class="tr"></span></li>
{% endblock %}
</ul>

<h2 class="textversion">Informace o uživateli</h2>
<ul id="userInfo">
    <li>{% if user.first_name and user.last_name %}{{ user.first_name }} {{ user.last_name }}
        {% else %}{{ user.username }}{% endif %}</li>
    <li><a href="/log/settings/">Nastavení</a></li>
    <li><a href="/log/logout/">Odhlásit</a></li>
</ul>
</div>
{% block content %}
{% endblock %}
<div id="footer">
<p>
&copy; 2007 Luděk Cigler. Written by <a href="http://www.vim.org/">Vim</a>!
</p>
</div>
{% endblock %}
