{% extends 'log/workout_base.html' %}
{% load log_tags %}

{% block content %}
<div id="viewSelection">
    <div id="athleteSelection">
<h2 class="textversion">Zobrazený atlet</h2>
    {% with "workout" as view_type %}
    <a href="{% url log.views.change_athlete view_type=view_type %}?old={{ athlete.person.user.username }}">
    {% endwith %}
        <img src="{{ athlete.person.get_image_url|default:"/site_media/log/images/user_unknown.png" }}"
        width="22" height="22" alt="{{ athlete }}" id="athleteImage">
        <span id="athleteName">{{ athlete }}</span>
    </a>
    </div>
<form action="{% url log.views.workout.change_view athlete_id=athlete.person.user.username %}" method="post">
<fieldset>
<legend class="textversion">Zobrazení deníku</legend>
<label for="viewType">Pohled</label>
<select id="viewType" name="viewType">
    <option {% ifequal viewType "weekly" %}selected="selected" {% endifequal %}value="weekly">Týdenní</option>
    <option {% ifequal viewType "monthly" %}selected="selected" {% endifequal %}value="monthly">Měsíční</option>
</select>
<label for="week">Týden</label>
<input type="text" size="2" id="week" name="week" value="{{ first_day|date:"W" }}">
<label for="month">Měsíc</label>
<select id="month" name="month">
    {% select_month first_day.month %}
</select>
<label for="year">Rok</label>
<select id="year" name="year">
    {% select_year 2000 2010 first_day.year %}
</select>
<button type="submit" id="viewSelectionSubmit">Zobrazit</button>
</fieldset>
</form>
</div>

<div id="workoutSummary"><div>
{% block workoutSummary %}
{% endblock %}
</div></div>

<div id="workoutView">
{% block workoutView %}
{% endblock %}
</div>

{% endblock %}
