{% extends 'log/workout_base.html' %}
{% load log_tags %}

{% block mainMenu %}
    <li><a href="/log/month/{{ first_day|date:"Y" }}/{{ first_day|date:"m" }}/">Deník</a><span class="tl"></span><span class="tr"></span></li>
    <li class="active"><a>Závody</a><span class="tl"></span><span class="tr"></span></li>
{% endblock %}

{% block content %}
<div id="viewSelection">
<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>
<form action="" method="post">
<fieldset>
<label for="viewType">Pohled</label>
<select id="viewType" name="viewType">
    <option {% ifequal viewType "monthly" %}selected="selected" {% endifequal %}value="monthly">Měsíční</option>
    <option {% ifequal viewType "yearly" %}selected="selected" {% endifequal %}value="yearly">Roční</option>
</select>
<label for="month">Měsíc</label>
<select id="month" name="month">
    {% select_month first_day.month %}
</select>
<label for="year">Rok</label>
<select id="year" name="year">
    {% select_year 2000 2010 first_day.year %}
</select>
<button type="submit" id="viewSelectionSubmit">Zobrazit</button>
</fieldset>
</form>
</div>

<div id="competitionSummary"><div>
{% block competitionSummary %}
{% endblock %}
</div>
</div>

<div id="competitionView">
{% block competitionView %}
{% endblock %}
</div>

{% endblock %}
