{% extends 'log/base.html' %}
{% block title %}
Přihlášení :: Tréninkový deník
{% endblock %}

{% block pageBody %}
<div id="loginHeader">
<h1>Deník atleta<span></span></h1>
</div>

<div id="loginForm">
<h2>Přihlášení</h2>
{% if login_failed %}
<p>
{{login_failed}}
</p>
{% endif %}
<form action="/log/auth/" method="POST">
<fieldset>
<label for="username">Uživatelské jméno</label>
<input type="text" id="username" name="username">
<label for="password">Heslo</label>
<input type="password" id="password" name="password">
</fieldset>
<fieldset>
<button type="submit">Přihlásit se</button>
</fieldset>
</form>
</div>

<div id="versionNumber">
<p class="textversion"> 
Verze 0.1
</p>
</div>

<div id="welcome">
    <h2>
    Vítejte v tréninkovém deníku!
    </h2>
</div>
{% endblock %}
