{% extends 'athletelog/workout.html' %}

{% block title %}
Tréninky - {{first_day|date:"W"}}. týden {{first_day|date:"Y"}} :: Tréninkový deník
{% endblock %}

{% block custom_header %}
    <script type="text/javascript" src="/site_media/athletelog/js/workout_weekly_view.js"></script>
{% endblock %}

{% block workout_summary %}
{% include 'athletelog/include/workout_weekly_summary.html' %}
{% endblock %}

{% block workout_view %}
{% include 'athletelog/include/workout_weekly.html' %}
{% endblock %}
