{% load log_tags %}
<div id="competition_form">
{% ifequal form_action "add" %}
<h2>Nový závod</h2>
{% else %}
{% ifequal form_action "edit" %}
<h2>Upravit závod</h2>
{% endifequal %}
{% endifequal %}

{% if form_errors %}
<div class="error_box">
Některé Vámi zadané hodnoty jsou špatně - mrkněte se na ně znovu
</div>
{% endif %}

{% ifequal form_action "add" %}
<form id="competition_edit" action="{% url log.views.competition.add_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day %}?continue={{ continue|urlencode }}" method="post">
{% else %}
{% ifequal form_action "edit" %}
<form id="competition_edit" action="{% url log.views.competition.edit_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day,competition_id=competition.id %}?continue={{ continue|urlencode }}" method="post">
{% endifequal %}
{% endifequal %}

    <fieldset class="button_set">
        <legend class="textversion">Uložit</legend>
        <input type="submit" name="submit_ok" class="ok button" value="Uložit">
        <input type="submit" name="submit_cancel" class="cancel button" value="Zrušit">
    </fieldset>
    <fieldset class="competition">
        <legend class="textversion">Závod</legend>
        <p {% if competition_form.errors.event %}class="error"{% endif %}>
        <label for="competition_event">Disciplína</label>
        {{ competition_form.event }}
        </p>

        <p {% if competition_form.errors.event_info %}class="error"{% endif %}>
        <label for="competition_event_info">Podrobnosti</label>
        {{ competition_form.event_info }}
        </p>

        <p {% if competition_form.errors.result %}class="error"{% endif %}>
        <label for="competition_result">Výkon</label>
        {{ competition_form.result }}
        </p>

        <p {% if competition_form.errors.place %}class="error"{% endif %}>
        <label for="competition_place">Místo</label>
        {{ competition_form.place }}
        </p>

        <p {% if competition_form.errors.note %}class="error"{% endif %}>
        <label for="competition_note">Poznámka</label>
        {{ competition_form.note }}
        </p>

        {{ competition_form.day }}
        {{ competition_form.id }}
    </fieldset>
</form>
</div>
