{% load log_tags %}
<div class="settings_form">
<h2>Upravit heslo</h2>
{% if form_errors or form_error_message %}
<div class="error_box">
{{form_error_message|default:"Některé Vámi zadané hodnoty jsou špatně - mrkněte se na ně znovu"}}
</div>
{% endif %}
<form action="{% url log.views.settings.user_change_password %}?continue={{ continue|urlencode }}" method="post">
    <fieldset>
        <legend class="textversion">Heslo</legend>
        <label for="user_password">Heslo</label>
        {{password_form.password}}
        <label for="user_password_retype">Heslo znovu</label>
        {{password_form.password_retype}}
    </fieldset>
    <fieldset class="button_set">
        <legend class="textversion">Uložit</legend>
        <input type="submit" name="submit_ok" class="ok" value="Uložit">
        <input type="submit" name="submit_cancel" class="cancel" value="Zrušit">
    </fieldset>
</form>
</div>
