{% load log_tags %}
<div id="workout_form">

{% ifequal form_action "add" %}
<h2>Nový trénink</h2>
{% else %}
{% ifequal form_action "edit" %}
<h2>Upravit trénink</h2>
{% endifequal %}
{% endifequal %}

{% if form_errors %}
<div class="error_box">
Některé Vámi zadané hodnoty jsou špatně - mrkněte se na ně znovu
</div>
{% endif %}

{% ifequal form_action "add" %}
<form id="workout_edit" action="{% url log.views.workout.add_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day %}?continue={{ continue|urlencode }}" method="post">
{% else %}
{% ifequal form_action "edit" %}
<form id="workout_edit" action="{% url log.views.workout.edit_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day,workout_id=workout.id %}?continue={{ continue|urlencode }}" method="post">
{% endifequal %}
{% endifequal %}
    <fieldset class="button_set">
        <legend class="textversion">Uložit</legend>
        <input type="submit" name="submit_ok" class="ok button" value="Uložit">
        <input type="submit" name="submit_cancel" class="cancel button" value="Zrušit">
    </fieldset>
    <fieldset class="workout_items">
        <legend>Části tréninku</legend>
        {{workout_form.day}}
        {{workout_form.id}}
        {{workout_form.num_workout_items}}
        <table>
            <thead class="textversion">
                <tr>
                    <th scope="column">Typ</th>
                    <th scope="column">Popis</th>
                    <th scope="column">km/kg</th>
                </tr>
            </thead>
            <tbody>
            {% for form in workout_item_forms %}
                <tr>
                    <td {% if form.errors.type %}class="error"{% endif %}>
                        <label for="workout_item_{{ forloop.counter0 }}_type">Typ</label><br />
                        <select name="workout_item_{{ forloop.counter0 }}_type" 
                            id="workout_item_{{ forloop.counter0 }}_type">
                            {% if phase_item %}
                                {% select_workout_type phase_item.type %}
                            {% else %}
                                {% select_workout_type "Roz" %}
                            {% endif %}
                        </select>
                    </td>
                    <td {% if form.errors.desc %}class="error"{% endif %}>
                        <label for="workout_item_{{ forloop.counter0 }}_desc">Popis</label><br />
                        <input type="text" id="workout_item_{{ forloop.counter0 }}_desc"
                            name="workout_item_{{ forloop.counter0 }}_desc" value="{{ form.data.desc }}" />
                    </td>
                    <td {% if form.errors.num_data %}class="error"{% endif %}>
                        <label for="workout_item_{{ forloop.counter0 }}_num_data">km/kg</label><br />
                        <input type="text" id="workout_item_{{ forloop.counter0 }}_num_data"
                            name="workout_item_{{ forloop.counter0 }}_num_data" value="{{ form.data.num_data }}" />
                        {% if form.errors.num_data %}
                        <span class="error_message">Je potřeba zadat číslo</span>
                        {% endif %}
                    </td>
                    <td>
                        <input type="submit" name="submit_remove_workout_item_{{ forloop.counter0 }}" class="remove_workout_item" value="" />
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p class="add_workout_item">
            <input type="submit" name="submit_add_workout_item" value="Přidat část tréninku" id="add_workout_item" />
        </p>
    </fieldset>
    <fieldset class="workout_additional_info">
        <legend class="textversion">Další informace</legend>
        <p {% if workout_form.errors.weather %}class="error"{% endif %}>
        <label for="workout_weather">Počasí</label>
        {{workout_form.weather}}
        </p>
        <p {% if workout_form.errors.rating_satisfaction %}class="error"{% endif %}>
        <label for="workout_rating_satisfaction">Spokojenost</label>
        {{workout_form.rating_satisfaction}}
        </p>
        <p {% if workout_form.errors.rating_difficulty %}class="error"{% endif %}>
        <label for="workout_rating_difficulty">Obtížnost</label>
        {{workout_form.rating_difficulty}}
        </p>
        <p {% if workout_form.errors.note %}class="error"{% endif %}>
        <label for="workout_note">Poznámky</label>
        {{workout_form.note}}
        </p>
    </fieldset>
</form>
</div>
