{% load log_tags %}
<p><a href="" id="workoutEditFormClose">Zavřít</a></p>
<form id="workoutEdit" action="/log/workout/{{ form_action }}/" method="POST">
    <fieldset>
        <input type="hidden" name="day" value="{{ day|date:"Y-m-d" }}" />
        <input type="hidden" name="id" value="{{ workout.id }}" />
        <input type="hidden" name="num_workout_items" id="numWorkoutItems" value="3" />
        <table>
            <thead>
                <th>Typ</th>
                <th>Popis</th>
                <th>Km</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                {% for phase_item in phase_items %}
                <tr>
                    <td>
                        <select name="workout_type_{{ forloop.counter0 }}" class="workoutType">
                            {% if phase_item %}
                                {% select_workout_type phase_item.type.abbr %}
                            {% else %}
                                {% select_workout_type "Roz" %}
                            {% endif %}
                        </select>
                    </td>
                    <td>
                        <textarea name="workout_desc_{{ forloop.counter0 }}" class="workoutDesc">{{ phase_item.desc }}</textarea>
                    </td>
                    <td>
                        <input type="text" name="workout_km_{{ forloop.counter0 }}" value="{{ phase_item.km }}" class="workoutKm"/>
                    </td>
                    <td>
                        <a href="" class="removeWorkoutItem"><img src="/site_media/log/images/icons/remove_small.png" width="16" height="16" /></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="" id="addWorkoutItem"><img src="/site_media/log/images/icons/add_small.png" width="16" height="16" /> Přidat část tréninku</a>
        </p>
        <p><label for="weather">Počasí</label><input type="text" id="weather" name="weather" value="{{ workout.weather }}" /></p>
    </fieldset>
    <fieldset>
        <button type="submit" id="workoutSubmit"><img src="/site_media/log/images/icons/save_small.png" width="16" height="16" /> Uložit</button>
    </fieldset>
</form>
