{% load denik_filters %}
<div>
<h2>{{day|date:"j"}}. {{day|date:"F Y"|lower}}</h2>
{% for w in workouts %}
<div class="workout">
{% ifnotequal num_workouts 1 %}
<h3>{{forloop.counter}}. fáze</h3>
{% endifnotequal %}
{% if w.workoutitem_set.all|length_is:"0" %}
<p>Tato fáze nemá žádné položky</p>
{% else %}
<table cellspacing="0">
    <thead>
        <th class="type">Typ</th>
        <th class="desc">Popis</th>
        <th class="km">Km</th>
    </thead>
    <tbody>
    {% for i in w.workoutitem_set.all|dictsort:"sequence" %}
    <tr>
        <td class="type">{{i.type}}</td>
        <td class="desc">{{i.desc}}</td>
        <td class="km">{{i.km}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<ul>
    {% if w.total_km %}<li class="totalKm">{{w.total_km}} km</li>{% endif %}
    {% if w.weather|length_is:"0"|is_not %}<li class="weather">{{w.weather}}&nbsp;</li>{% endif %}
</ul>
<p>
    <a href="" class="editWorkout" id="editWorkout_{{ w.date|date:"Y/m/d" }}_{{ w.id }}">
        <img src="/site_media/denik/images/icons/properties_middle.png" width="22" height="22" /><span> Upravit fázi</span>
    </a>
    <a href="/denik/workout/remove/{{ w.id }}/" class="removeWorkout" id="removeWorkout_{{ w.date|date:"Y/m/d" }}_{{ w.id }}">
        <img src="/site_media/denik/images/icons/remove_middle.png" width="22" height="22" /><span> Odstranit fázi</span>
    </a>
</p>
</div>
{% endfor %}
<p>
    <a href="" class="addWorkout" id="addWorkout_{{ day|date:"Y/m/d" }}">
        <img src="/site_media/denik/images/icons/add_middle.png" width="22" height="22" /><span>Přidat fázi</span>
    </a>
</p>
