<h2>{{ first_day|date:"F Y" }} :: Přehled závodů</h2>

{% if competitions %}
<table cellspacing="0">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Disciplína</th>
            <th>Výkon</th>
            <th>Místo</th>
        </tr>
     </thead>
     <tbody>
        {% for c in competitions %}
        <tr>
            <th>{{ c.day|date:"d.m." }}</th>
            <td>{{ c.event }}</th>
            <td>{{ c.result }}</th>
            <td>{{ c.place }}</td>
        </tr>
        {% endfor %}
     </tbody>
</table>
{% else %}
<p>V tomto měsíci nejsou žádné závody.</p>
{% endif %}
