{% load log_tags %}
<div id="competitionForm">
{% ifequal form_action "add" %}
<h2>Nový závod</h2>
{% else %}
{% ifequal form_action "edit" %}
<h2>Upravit závod</h2>
{% endifequal %}
{% endifequal %}

{% ifequal form_action "add" %}
<form id="competitionEdit" action="{% url log.views.competition.add_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day %}?continue={{ continue|urlencode }}" method="post">
{% else %}
{% ifequal form_action "edit" %}
<form id="workoutEdit" action="{% url log.views.competition.edit_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day,competition_id=competition.id %}?continue={{ continue|urlencode }}" method="post">
{% endifequal %}
{% endifequal %}

    <fieldset class="buttonSet">
        <legend class="textversion">Uložit</legend>
        <input type="submit" name="submitOk" class="ok button" value="Uložit">
        <input type="submit" name="submitCancel" class="cancel button" value="Zrušit">
    </fieldset>
    <fieldset class="competition">
        <legend class="textversion">Závod</legend>
        <label for="competitionEvent">Disciplína</label>
        <select name="event" id="competitionEvent" class="competition_event">
            {% select_competition_event competition.event %}
        </select>

        <label for="competitionResult">Výkon</label>
        <input type="text" name="result" id="competitionResult" value="{{ competition.result }}" class="competition_result" >

        <label for="competitionPlace">Místo</label>
        <input type="text" name="place" id="competitionPlace" value="{{ competition.place }}" class="competition_place">

        <label for="competitionNote">Poznámka</label>
        <textarea name="note" id="competitionNote" class="competition_note" rows="4" cols="30">{{ competition.note }}</textarea>

        <input type="hidden" name="day" value="{{ day|date:"Y-m-d" }}">
        <input type="hidden" name="id" value="{{ competition.id }}">
    </fieldset>
</form>
</div>
