{% load log_tags %}
<div class="settingsForm">
<h2>Upravit obrázek</h2>
<form action="{% url log.views.settings.user_upload_image %}?continue={{ continue|urlencode }}" method="post"
enctype="multipart/form-data">
    <fieldset>
        <legend class="textversion">Obrázek</legend>
        <p>Nahrát můžete jakýkoliv obrázek, nejlépe PNG, GIF nebo JPEG. Obrázky nahrávejte
        v rozumné velikosti, tj. nejprve je zmenšete na rozlišení 36x36 pixelů.
        </p>
        <label for="userImageField">Obrázek</label>
        <input type="file" id="userImageField" name="image">
    </fieldset>
    <fieldset class="buttonSet">
        <legend class="textversion">Uložit</legend>
        <input type="submit" name="submitOk" class="ok" value="Uložit">
        <input type="submit" name="submitCancel" class="cancel" value="Zrušit">
    </fieldset>
</form>
</div>
