{% load log_tags %}
<div class="settingsForm">
<h2>Upravit heslo</h2>
<form action="/settings/user/submit_password/?continue={{ continue|urlencode }}" method="post">
    <fieldset>
        <legend class="textversion">Heslo</legend>
        {% if message %}
        <p>{{ message }}</p>
        {% endif %}
        <label for="passwordField">Heslo</label>
        <input type="password" id="passwordField" name="password">
        <label for="passwordField">Heslo znovu</label>
        <input type="password" id="passwordCheckField" name="passwordCheck">
    </fieldset>
    <fieldset class="buttonSet">
        <legend class="textversion">Uložit</legend>
        <button type="submit" name="submitOk" class="ok" value="ok">Uložit</button>
        <button type="submit" name="submitCancel" class="cancel" value="cancel">Zrušit</button>
    </fieldset>
</form>
</div>
