{% load log_filters %}
<h2>{{day|date:"j"}}. {{day|date:"F Y"|lower}}</h2>
{% for w in workouts %}
<div class="workout">
{% ifnotequal num_workouts 1 %}
<h3>{{forloop.counter}}. fáze</h3>
{% endifnotequal %}
{% if w.workout_items.all|length_is:"0" %}
<p>Tato fáze nemá žádné položky</p>
{% else %}
<div class="table_header_bg"><div class="corner_tl"><div class="corner_tr">
<table cellspacing="0">
    <thead>
        <tr>
        <th class="type">Typ</th>
        <th class="desc">Popis</th>
        <th class="km">Km</th>
        </tr>
    </thead>
    <tbody>
    {% for i in w.workout_items.all|dictsort:"sequence" %}
    <tr>
        <td class="type">{{i.type}}</td>
        <td class="desc">{{i.desc}}</td>
        <td class="km">{{i.km}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div></div></div>
{% endif %}

<table cellspacing="0">
    <caption class="textversion">Podrobnosti o tréninku</caption>
    <tbody>
    {% if w.total_km %}
        <tr class="totalKm">
            <th scope="row"><span class="textversion">Celková kilometráž</span></th>
            <td>{{w.total_km}} km</td>
        </tr>
    {% endif %}
    {% if w.weather|length_is:"0"|is_not %}
    <tr class="weather">
        <th scope="row"><span class="textversion">Počasí</span></th>
        <td>{{w.weather}}&nbsp;</td>
    </tr>
    {% endif %}
    <tr class="rating rating_satisfaction">
        <th scope="row"><span class="textversion">Spokojenost</span></th>
        <td>
        {% with w.rating_satisfaction as rating %}
        {% with "yellow" as color %}
        {% include 'log/widgets/rating.html' %}
        {% endwith %}
        {% endwith %}
        </td>
    </tr>
    <tr class="rating rating_difficulty">
        <th scope="row"><span class="textversion">Obtížnost</span></th>
        <td>
        {% with w.rating_difficulty as rating %}
        {% with "red" as color %}
        {% include 'log/widgets/rating.html' %}
        {% endwith %}
        {% endwith %}
        </td>
    </tr>
</table>
{% if athlete_edit_allowed %}
<p class="workout_info_buttons">
    <a href="{% url log.views.workout.edit_form athlete_id=athlete.person.user.username,year=w.day.year,month=w.day.month,day=w.day.day,workout_id=w.id %}" class="edit_workout"
        id="editWorkout_{{ w.day|date:"Y-m-d" }}_{{ w.id }}">Upravit fázi</a>
    <a href="{% url log.views.workout.remove_workout athlete_id=athlete.person.user.username,workout_id=w.id %}" class="remove_workout"
        id="removeWorkout_{{ w.day|date:"Y-m-d" }}_{{ w.id }}">Odstranit fázi</a>
</p>
{% endif %}
</div>
{% endfor %}
{% if athlete_edit_allowed %}
<p class="workout_info_buttons">
    <a href="{% url log.views.workout.add_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day %}" class="addWorkout"
        id="add_workout_{{ day|date:"Y-m-d" }}">Přidat fázi</a>
</p>
{% endif %}
{% if competitions|length_is:"0"|is_not %}
<h3>Závody</h3>
<div class="competition">
<div class="table_header_bg"><div class="corner_tl"><div class="corner_tr">
<table cellspacing="0" class="competition">
    <thead>
        <tr>
            <th scope="col">Disciplína</th>
            <th scope="col">Výkon</th>
            <th scope="col">Místo</th>
            {% if athlete_edit_allowed %}
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for c in competitions %}
        <tr>
            <td>{{ c.event }}</td>
            <td>{{ c.result }}</td>
            <td>{{ c.place }}</td>
            {% if athlete_edit_allowed %}
            <td>
                <a href="{% url log.views.competition.edit_form athlete_id=athlete.person.user.username,year=c.day.year,month=c.day.month,day=c.day.day,competition_id=c.id %}" class="edit_competition" 
                id="edit_competition_{{ c.day|date:"Y-m-d" }}_{{ c.id }}" title="Upravit závod">
                <span>Upravit závod</span></a>
            </td>
            <td>
                <a href="{% url log.views.competition.remove_competition athlete_id=athlete.person.user.username,competition_id=c.id %}" class="remove_competition" 
                    id="remove_competition_{{ c.day|date:"Y-m-d" }}_{{ c.id }}" title="Odstranit závod">
                    <span>Odstranit závod</span></a>
            </td>
            {% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
</div></div></div>
</div>
{% endif %}
{% if athlete_edit_allowed %}
<p class="workout_info_buttons">
    <a href="{% url log.views.competition.add_form athlete_id=athlete.person.user.username,year=day.year,month=day.month,day=day.day %}" class="add_competition"
        id="add_competition_{{ day|date:"Y-m-d" }}">Přidat závod</a>
</p>
{% endif %}
