{% load log_filters %}
<h2 class="textversion">Tréninkový deník, {{first_day|date:"F"|lower}} {{first_day|date:"Y"}}</h2>
<ul class="pagerMenu">
    <li class="previous"><a href="/log/workout/month/{{previous_year}}/{{previous_month|stringformat:"02d"}}/">Předchozí měsíc</a></li>
    <li class="next"><a href="/log/workout/month/{{next_year}}/{{next_month|stringformat:"02d"}}/">Další měsíc</a></li>
</ul>
<table id="monthlyView" cellspacing="0">
    <thead>
        <tr>
            <th><span class="textversion">Týden</span></th>
            <th>Pondělí</th>
            <th>Úterý</th>
            <th>Středa</th>
            <th>Čtvrtek</th>
            <th>Pátek</th>
            <th>Sobota</th>
            <th>Neděle</th>
        </tr>
    </thead>
    <tbody>
        {% for week_data in month_data %}
            <tr>
                <th>{{week_data.week}}</th>
                {% for day_data in week_data.days %}

                    {% if day_data %}
                <td class="day_{{day_data.day|date:"Y-m-d"}}">
                    <ul>
                        <li class="day">
                            <a href="/log/workout/month/{{day_data.day|date:"Y/m/d"}}/" 
                                class="editDay" title="Detail pro {{ day_data.day|date:"j.n" }}">{{day_data.day|date:"j"}}</a>
                        </li>
                        {% if day_data.workouts|length_is:"0" and day_data.competitions|length_is:"0" %}
                        <li>Volno</li>
                        {% else %}

                        {% if day_data.workouts|length_is:"0"|is_not %}
                        <li><ul class="phases">
                            {% for workout in day_data.workouts %}
                                {% if workout.workoutitem_set.all|length_is:"0" %}
                                <li>Nic</li>
                                {% else %}
                                <li>
                                    {% for phase_item in workout.workoutitem_set.all %}
                                    {{phase_item.type}}{% if forloop.last|is_not %}, {% endif %}
                                    {% endfor %}
                                </li>
                                {% endif %}
                                <li class="km">{{workout.total_km}} km</li>
                            {% endfor %}
                        </ul></li>
                        {% endif %}

                        {% if day_data.competitions|length_is:"0"|is_not %}
                        <li>
                            {%for competition in day_data.competitions %}
                            {{ competition.event }}: {{ competition.result }}{% if forloop.last|is_not %}, {% endif %}
                            {% endfor %}
                        </li>
                        {% endif %}

                        {% endif %}
                    </ul>
                    
                </td>
                    {% else %}
                <td class="empty">
                    &nbsp;
                </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<ul class="pagerMenu">
    <li class="previous"><a href="/log/workout/month/{{previous_year}}/{{previous_month|stringformat:"02d"}}/">Předchozí měsíc</a></li>
    <li class="next"><a href="/log/workout/month/{{next_year}}/{{next_month|stringformat:"02d"}}/">Další měsíc</a></li>
</ul>
