{% extends 'log/workout_base.html' %}
{% load log_tags %}

{% block javascripts %}
    <script type="text/javascript" src="/site_media/log/js/change_view_form.js"></script>
{% endblock %}

{% block content %}
<div id="view_selection" class="corner_tl">
<div class="corner_tr"><div class="corner_bl"><div class="corner_br content">
    <div id="athlete_selection">
<h2 class="textversion">Zobrazený atlet</h2>
    {% with "workout" as view_type %}
    <a href="{% url log.views.change_athlete view_type=view_type %}?old={{ athlete.person.user.username }}">
    {% endwith %}
        <img src="{{ athlete.person.get_image_url|default:"/site_media/log/images/user_unknown.png" }}"
        width="22" height="22" alt="{{ athlete }}" id="athlete_image">
        <span id="athlete_name">{{ athlete }}</span>
    </a>
    </div>
<form action="{% url log.views.workout.change_view athlete_id=athlete.person.user.username %}" method="post">
<fieldset>
<legend class="textversion">Zobrazení deníku</legend>
<label for="change_view_view_type">Pohled</label>
{{change_view_form.view_type}}
<label for="change_view_week">Týden</label>
{{change_view_form.week}}
<label for="change_view_month">Měsíc</label>
{{change_view_form.month}}
<label for="change_view_year">Rok</label>
{{change_view_form.year}}
<button type="submit" id="change_view_submit">Zobrazit</button>
</fieldset>
</form>

</div></div></div>
</div>

<div id="workout_summary" class="summary"><div class="content">
{% block workout_summary %}
{% endblock %}
</div></div>

<div id="workout_view">
{% block workout_view %}
{% endblock %}
</div>

{% endblock %}
